.address {
  background-color: $base-background-color;

  &_inner {
    background-color: $footer-background-color;

    @media (min-width: $desktop-width) {
      background-color: $base-background-color;
    }
  }
}

.address__wrapper {
  @include wrapper;
  position: relative;
}

.address__content {
  z-index: 1;
  background-color: $base-background-color;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
  padding: 28px 0 26px;

  &_inner {
    background-color: $footer-background-color;

    @media (min-width: $desktop-width) {
      background-color: $base-background-color;
    }
  }

  @media (min-width: $tablet-width) {
    gap: 80px;
    padding: 65px 40px 59px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    gap: 95px;
    top: 95px;
    left: 0;
    margin: auto;
    padding: 64px 80px 58px 75px;
  }
}

.address__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.address__block:nth-child(2) {
  @media (min-width: $tablet-width) {
    justify-self: end;
    margin-right: 5px;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
  }
}

.address__intro {
  @include title-font(16px, 20px);
  text-transform: uppercase;
  color: $title-font-color;

  @media (min-width: $tablet-width) {
    @include title-font(20px, 26px);
  }
}

.address__item {
  @include base-font(14px, 20px);

  @media (min-width: $tablet-width) {
    @include base-font(16px, 20px);
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.address__map {
  min-width: 100vw;
  height: 362px;
  position: relative;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.address__map img {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.address__map::after {
  content: "";
  width: 53px;
  height: 53px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 28px;
  left: 5px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../img/map/pin-mobile.png");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map/pin-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    top: 2px;
    bottom: 0;
    width: 106px;
    height: 106px;
    background-image: url("../img/map/pin.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map/pin@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    top: 0;
    bottom: 25px;
    left: 34%;
  }
}
