.adds {
  @include wrapper;
}

.adds__block {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
    align-items: center;
  }
}

.adds__title {
  margin-bottom: 44px;
}

.adds__item {
  display: grid;
  grid-template-areas:
    "product product"
    "size price"
    "button button";
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    grid-template-areas:
      "product size price"
      "button button button";
    grid-template-columns: 1fr 200px 95px;
  }

  @media (min-width: $desktop-width) {
    grid-template-areas: "product size price button";
    grid-template-columns: 1fr 200px 155px 282px;
  }
}

.adds__product {
  @include description-font(16px, 16px);
  grid-area: product;
  margin-bottom: 13px;
}

.adds__size {
  grid-area: size;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.adds__price {
  grid-area: price;
  margin-left: auto;
}

.adds__button {
  @include button(10px, 20px);
  grid-area: button;
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 244px;
    margin-left: auto;
  }
}
