.adds {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
  }
}

.adds__container {
  @include sub-title-line(14px);

  @media (min-width: $tablet-width) {
    @include sub-title-line(22px);
  }
}

.adds__title {
  @include title-font(24px, 24px);
  color: $title-font-color;
  background-color: $base-background-color;
  width: max-content;
  padding: 0 20px;
  transform: translateX(-20px);
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    @include title-font(36px, 36px);
    padding: 0 40px;
    transform: none;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    transform: translateX(-40px);
  }
}

.adds__block {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
  }
}

.adds__list {
  padding-left: 0;
  margin: 0 0 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.adds__item {
  display: grid;
  grid-template-areas:
    "product product"
    "size price"
    "button button";
  padding: 14px 0 17px;
  border-bottom: 1px solid $control-mark-color;

  @media (min-width: $tablet-width) {
    grid-template-areas:
      "product size price"
      "button button button";
    grid-template-columns: 1fr 200px 95px;
    align-items: center;
    padding: 26px 38px 28px;
    border-right: 1px solid $control-mark-color;
    border-left: 1px solid $control-mark-color;
  }

  @media (min-width: $desktop-width) {
    grid-template-areas: "product size price button";
    grid-template-columns: 1fr 190px 100px 282px;
    padding: 15px 0 17px;
    border-right: none;
    border-left: none;
  }

  &:first-child {
    border-top: 1px solid $control-mark-color;
  }
}

.adds__product-name {
  @include title-font(16px, 16px);
  color: $special-font-color;
  text-transform: uppercase;
  grid-area: product;
  margin: 0 0 13px;

  @media (min-width: $tablet-width) {
    @include title-font(20px, 20px);
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-right: 30px;
  }
}

.adds__size,
.adds__price {
  @include base-font(14px, 14px);
  margin: 0;

  @media (min-width: $tablet-width) {
    @include base-font(16px, 20px);
  }
}

.adds__size {
  grid-area: size;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.adds__price {
  grid-area: price;
  margin-left: auto;

  @media (min-width: $desktop-width) {
    padding-left: 30px;
  }
}

.adds__button {
  grid-area: button;
  width: 100%;
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    margin-top: 0;
    margin-left: auto;
  }
}
