.before-after__photos {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 710px;
    height: 520px;
  }

  @media (min-width: $desktop-width) {
    transform: translateX(30px);
  }
}

.before-after__photo {
  @media (min-width: $tablet-width) {
    position: relative;
    overflow: hidden;
  }
}

.before-after__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    height: 520px;
    width: auto;
  }
}

.before-after__image--before {
  transform: translateX(-5px);

  @media (min-width: $tablet-width) {
    transform: none;
    left: 15px;
  }

  @media (min-width: $desktop-width) {
    left: -10px;
  }
}

.before-after__image--after {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    right: 56px;
  }

  @media (min-width: $desktop-width) {
    right: 86px;
  }
}

.before-after__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px auto 0;
  padding: 0 26px 0 31px;

  @media (min-width: $tablet-width) {
    margin-top: 12px;
    padding: 0 52px 0 48px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
    padding: 0 20px 0 80px;
  }
}

.before-after__button {
  @include title-font(16px, 20px);
  text-transform: uppercase;
  color: $title-font-color;
  border: none;
  background: none;
  padding: 6px 13px;
  position: relative;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .before-after__button {
    @include title-font(20px, 30px);
    padding: 4px 20px;

    &::after {
      content: "";
      background-image: url("../img/icons/underline.svg");
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 1px;
      width: calc(100% - 40px);
    }

    &:hover::after,
    &:focus::after {
      background-image: none;
      background-color: rgba($title-font-color, 0.4);
    }

    &:active::after {
      display: none;
    }
  }
}

.before-after__range {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
}

.before-after__container {
  position: absolute;
  width: calc(100% - 12px);
  height: 6px;
  top: 0;
  bottom: 0;
  left: 6px;
  right: 6px;
  margin: auto;

  & .before-after__progress-bar {
    display: block;
    height: 6px;
    border-radius: 6px;
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.before-after__input {
  width: 100%;
  background-color: $base-background-color;
  border: 1px solid $control-mark-color;
  height: 14px;
  border-radius: 6px;
  appearance: initial;

  &::-webkit-slider-runnable-track {
    appearance: none;
  }

  &::-webkit-slider-thumb {
    appearance: none;
  }

  &::-moz-range-thumb {
    background-color: transparent;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .before-after__input {
    background-color: #dcdcdc;
    border: none;
    height: 6px;
  }

  .before-after__range::after {
    display: none;
  }

  .before-after__input::-webkit-slider-thumb {
    cursor: pointer;
    width: 8px;
    height: 8px;
    background-color: $theme-color;
    border: 13px solid $base-background-color;
    box-sizing: unset;
    border-radius: 50%;
    box-shadow: 0 0 0 1px $control-mark-color,
      0 2px 3px 0 rgba(#000000, 0.16);
  }

  .before-after__input::-moz-range-thumb {
    cursor: pointer;
    width: 8px;
    height: 8px;
    background-color: $theme-color;
    border: 13px solid $base-background-color;
    box-sizing: unset;
    border-radius: 50%;
    box-shadow: 0 0 0 1px $control-mark-color,
      0 2px 3px 0 rgba(#000000, 0.16);
  }
}

.before-after__input:hover {
  &::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px $control-mark-color,
      0 3px 4px 0 rgba(#000000, 0.19);
  }

  &::-moz-range-thumb {
    box-shadow: 0 0 0 1px $control-mark-color,
      0 3px 4px 0 rgba(#000000, 0.19);
  }
}

.before-after__input:focus {
  outline: none;
}

.before-after__input:focus,
.before-after__input:active {
  &::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px $theme-color,
      0 4px 5px 0 rgba(#000000, 0.19);
  }

  &::-moz-range-thumb {
    box-shadow: 0 0 0 1px $theme-color,
      0 4px 5px 0 rgba(#000000, 0.19);
  }
}
