.bonus {
  width: 100%;
  height: 290px;
  background-image: url("../img/background/bonus.jpg");
  background-color: $theme-color;
  color: $base-background-color;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    height: 290px;
  }
}

.bonus__text {
  @include base-font(16px, 20px);
  text-align: center;
}
