.catalog {
  @include wrapper;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.catalog__list {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.catalog__item {
  @include dividing-line-after;
  padding: 19px 0 25px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &:first-child {
    @include dividing-line-before;
  }
}
