.catalog {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.catalog__list {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 65px;
  }
}

.catalog__item {
  @include dividing-line-after;
  padding: 20px 0 24px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &:first-child {
    @include dividing-line-before;
  }
}
