.catalog {
  @include wrapper;
  margin-bottom: 50px;
}

.catalog__list {
  display: grid;
  gap: 45px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}
