.example {
  background-color: $block-background-color;
  padding: 27px 0 30px;
  position: relative;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to top, $block-background-color 462px, $base-background-color 0);
    padding: 44px 0 65px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100vw;
      height: 1px;
      background-color: $light-line-color;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    background: linear-gradient(to bottom, $base-background-color 180px, $block-background-color 0);

    &::before {
      display: none;
    }
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
  }
}

.example__content {
  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}

.example__block {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.example__title {
  @include title-font(36px, 40px);
  color: $title-font-color;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    @include title-font(60px, 60px);
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 147px;
  }
}

.example__description {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    @include base-font(16px, 24px);
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.example__list {
  flex-shrink: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
    margin-right: 0;
  }
}

.example__price {
  @include title-font(14px, 20px);
  text-transform: uppercase;
  color: $title-font-color;
  text-align: center;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    @include title-font(20px, 20px);
    text-align: end;
    margin: auto 2px auto 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 366px;
    text-align: start;
  }
}

.example__span {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-top: 0;
    margin-left: 14px;
  }
}

.example__image {
  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    transform: translate(40px, -42px);
    margin-top: -15px;
  }
}
