.footer {
  background-color: $footer-background-color;
}

.footer__block {
  @include wrapper;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 55px 0;
    align-items: center;
  }
}

.footer__item {
  margin: 10px auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    display: flex;
    justify-content: center;
  }
}

.footer__item:first-child {
  @media (min-width: $tablet-width) {
    width: 200px;
    justify-content: flex-start;
    margin-left: 0;
  }
}

.footer__item:last-child {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 200px;
    justify-content: flex-end;
    margin-right: 0;
  }
}

.footer__logo {
  margin-top: 30px;
  margin-bottom: 22px;
}

.footer__copyright {
  justify-self: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.footer__copyright::after {
  content: "";
  display: block;
  margin-left: auto;
  width: 27px;
  height: 34px;
  border: 2px solid #666666;
}
