.footer {
  background-color: $footer-background-color;
}

.footer__block {
  @include mobile-wrapper;
  display: flex;
  flex-direction: column;
}

.footer__item {
  margin: 10px auto;
}

.footer__item:last-child {
  width: 100%;
}

.footer__logo {
  margin-top: 30px;
  margin-bottom: 22px;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.footer__copyright::after {
  content: "";
  display: block;
  margin-left: auto;
  width: 27px;
  height: 34px;
  border: 2px solid #666666;
}
