.footer {
  background-color: $footer-background-color;
}

.footer__block {
  @include wrapper;
  display: grid;
  grid-template-rows: 87px 63px 78px;
  align-items: end;
  justify-items: center;
  padding-top: 8px;

  @media (min-width: $tablet-width) {
    grid-template-rows: unset;
    grid-template-columns: 200px 1fr 200px;
    padding: 55px 0;
    align-items: center;
  }
}

.footer__item {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 11px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &:first-child {
    padding-bottom: 32px;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }

  &:last-child {
    padding-bottom: 22px;
    display: block;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }
}

.footer__item:first-child {
  @media (min-width: $tablet-width) {
    width: 200px;
    justify-content: flex-start;
  }
}

.footer__item:not(:last-child) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $dark-line-color;
    bottom: 0;
    margin: auto;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.footer__item:last-child {
  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }

  &::after {
    display: none;
  }
}

.footer__logo-link {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__copyright {
  justify-self: end;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }

  & svg {
    fill: $icons-fill-color;
    margin-left: auto;
    width: 27px;
    height: 34px;

    @media (min-width: $tablet-width) {
      margin-left: 22px;
    }
  }

  &:hover svg,
  &:focus svg,
  &:active svg {
    fill: $theme-color;
  }

  &:focus {
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}
