.form {
  @include wrapper;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form__block {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 69px;
  }

  &_last {
    margin-top: 20px;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 60px;
      margin-top: 40px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 60px;
    }
  }

  &_comment {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }
  }
}

.form__sub-block:nth-child(1) {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__sub-block:nth-child(2) {
  @include dividing-line-before;
  @include dividing-line-after;
  padding-top: 23px;
  padding-bottom: 7px;

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    border: 1px solid $light-line-color;
    padding: 24px 28px 11px;
  }
}

.form__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.form__legend {
  @include title-font(24px, 26px);
  @include sub-title-line(16px);
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    @include title-font(36px, 36px);
    @include sub-title-line(22px);
    margin-bottom: 75px;
  }
}

.form__sub-title {
  color: $title-font-color;
  background-color: $base-background-color;
  display: inline-block;
  padding: 0 20px;
  transform: translateX(-20px);

  @media (min-width: $tablet-width) {
    padding: 0 40px;
    transform: translateX(-40px);
  }

  &_long {
    width: 222px;
    transform: translateX(-22px);

    @media (min-width: $tablet-width) {
      width: auto;
      transform: translateX(-42px);
    }
  }
}

.form__item {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  position: relative;
}

.form__sub-block:nth-child(1) .form__item {
  @media (min-width: $desktop-width) {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__input {
  flex-grow: 1;
}

.form__button {
  @include button(13px, 10px);
  @include title-font(16px, 20px);
  text-transform: uppercase;
  width: 100%;

  @media (min-width: $tablet-width) {
    @include button(16px, 45px);
    @include title-font(20px, 20px);
  }
}

.form__info {
  color: $title-font-color;
  text-align: center;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    text-align: unset;
    margin-top: 0;
  }
}
