.form {
  @include wrapper;
  margin-bottom: 32px;
}

.form__block {
  margin-bottom: 25px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 80px;
  }

  &_last {
    margin-top: 20px;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 60px;
      margin-top: 40px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 60px;
    }
  }
}

.form__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.form__legend {
  @include description-font(24px, 26px);
  text-transform: unset;
  display: block;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    @include description-font(36px, 36px);
    text-transform: unset;
  }
}

.form__item {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}

.form__label {
  @include description-font(16px, 18px);
  margin-right: 13px;
}

.form__input {
  flex-grow: 1;
}

.form__button {
  @include button(13px, 10px);
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 262px;
  }

  @media (min-width: $desktop-width) {
    width: 548px;
  }
}

.form__info {
  color: $title-font-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: unset;
  }
}
