.header {
  @include title-font(20px, 20px);
  text-transform: uppercase;
  font-weight: 500;
  color: $title-font-color;

  @media (min-width: $tablet-width) {
    @include title-font(18px, 24px);
    display: grid;
    align-items: center;
    grid-template-columns: 220px auto;
    margin-top: 15px;
  }

  @media (min-width: $desktop-width) {
    @include title-font(20px, 30px);
    grid-template-columns: 1fr 1fr;
    margin-top: 42px;
  }
}

.header__container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0;
  }
}

.header__toggle {
  justify-self: end;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__navigation {
  @media (min-width: $tablet-width) {
    justify-self: end;
  }
}
