.how-it-works {
  @include wrapper;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }
}

.how-it-works__title {
  @include title-font(36px, 40px);
  color: $title-font-color;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    @include title-font(60px, 60px);
    margin-bottom: 32px;
  }
}

.how-it-works__list {
  counter-reset: item;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    column-gap: 135px;
    row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 75px;
  }

  @media (min-width: $desktop-width + 10px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.how-it-works__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    min-height: 280px;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
    margin-bottom: 0;
  }

  &::before {
    content: "";
    background-color: $theme-color;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
      width: 80px;
      height: 80px;
    }
  }

  &_leaf::before {
    background-image: url("../img/tabs/icon-leaf.svg");
    background-size: 30px 32px;
  }

  &_tub::before {
    background-image: url("../img/tabs/icon-tub.svg");
    background-size: 29px 31px;
  }

  &_eat::before {
    background-image: url("../img/tabs/icon-eat.svg");
    background-size: 25px 30px;
  }

  &_alarm::before {
    background-image: url("../img/tabs/icon-alarm.svg");
    background-size: 32px 33px;
  }
}

@media (min-width: $tablet-width) {
  .how-it-works__item::after {
    @include title-font(280px, 280px);
    text-transform: uppercase;
    color: $footer-background-color;
    z-index: -1;
    height: 280px;
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    counter-increment: item;
    content: counter(item);
  }
}
