.inner-header {
  @include mobile-wrapper;
  color: $title-font-color;
  margin-top: 27px;
  margin-bottom: 40px;
}

.inner-header__title {
  @include title-font;
}

.inner-header__description {
  @include description-font(14px, 18px);
  margin-top: 37px;
}
