.inner-header {
  @include wrapper;
  @include dividing-line-before;
  color: $title-font-color;
  padding-top: 26px;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-top: 53px;
    margin-bottom: 66px;
    padding: 0 40px;

    &_catalog {
      padding: 0;
      margin-bottom: 85px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 65px;
    padding: 0;
  }
}

.inner-header__title {
  @include title-font;

  @media (min-width: $tablet-width) {
    @include title-font(60px, 60px);
  }
}

.inner-header__description {
  @include title-font(14px, 18px);
  text-transform: uppercase;
  margin-top: 35px;
  padding-bottom: 2px;

  @media (min-width: $tablet-width) {
    @include title-font(20px, 30px);
    margin-top: 55px;
    padding-bottom: 0;
  }
}
