.inner-header {
  @include wrapper;
  @include dividing-line-before;
  color: $title-font-color;
  padding-top: 27px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 55px;
    margin-bottom: 66px;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 70px;
    padding: 0;
  }
}

.inner-header__title {
  @include title-font;

  @media (min-width: $tablet-width) {
    @include title-font(60px, 60px);
  }
}

.inner-header__description {
  @include title-font(14px, 18px);
  text-transform: uppercase;
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    @include title-font(20px, 30px);
    margin-top: 55px;
  }
}
