.input {
  @include title-font(16px, 18px);
  text-transform: uppercase;
  color: $base-font-color;
  padding: 15px;
  height: 45px;
  margin: 0;
  border: 1px solid $input-border-color;

  @media (min-width: $tablet-width) {
    height: 52px;
  }

  &::placeholder {
    color: $base-font-color;
  }

  &_textarea {
    width: 100%;
    height: 150px;

    @media (min-width: $tablet-width) {
      height: 174px;
    }
  }

  &:hover {
    border: 1px solid $control-mark-color;
  }

  &:focus {
    border: 2px solid $base-font-color;
    padding: 14px;
    outline: none;
  }

  &:active {
    border: 2px solid $base-font-color;
    padding: 14px;
  }

  &_error {
    border: 2px solid $status-error;
    padding: 14px;
  }
}

.input_checkbox,
.input_radio {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  z-index: 1;
  opacity: 0;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.input_radio:disabled + .input__label,
.input_checkbox:disabled + .input__label {
  opacity: 0.3;
}

.input__label {
  @include title-font(16px, 18px);
  text-transform: uppercase;
  margin-right: 13px;
  display: flex;
  align-items: center;
}

.input__icon {
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;

  &_email {
    background-image: url("../img/icons/email.svg");
  }

  &_phone {
    background-image: url("../img/icons/phone.svg");
  }
}

.input__control-mark {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid $control-mark-color;
    margin-right: 15px;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }

  &:hover::before,
  &:hover::before {
    border: 1px solid $dark-border-color;
  }

  &_radio::before {
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0;
    bottom: 0;
    left: 8px;
    margin: auto;
    display: none;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
      left: 11px;
    }
  }

  &_radio::after {
    background-color: $theme-color;
    border-radius: 50%;
  }

  &_checkbox::after {
    background-image: url("../img/icons/checkbox-mark.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.input:checked + .input__control-mark {
  &::after {
    display: block;
  }
}
