.main-navigation {
  &--closed {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--no-js {
    display: block;
  }
}

.main-navigation__list {
  @include dividing-line-before;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: $title-font-color;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-right: -16px;
  }

  @media (min-width: $desktop-width) {
    color: $base-background-color;

    &--inner {
      color: $title-font-color;
    }
  }
}

.main-navigation__item {
  @include dividing-line-after;
  width: 100%;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: max-content;
  }
}

.main-navigation__list--inner .main-navigation__item:last-child::after {
  display: none;
}

.main-navigation__item--current {
  position: relative;

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      width: calc(100% - 36px);
      height: 2px;
      background-color: $theme-color;
      position: absolute;
      bottom: 13px;
      left: 0;
      right: 0;
      margin: auto;
    }

    @media (min-width: $desktop-width) {
      background-color: $base-background-color;
    }
  }

  .main-navigation__list--inner &::before {
    @media (min-width: $desktop-width) {
      background-color: $theme-color;
    }
  }

  & .main-navigation__link:hover {
    cursor: default;
    opacity: 1;
  }
}

.main-navigation__link {
  display: block;
  padding: 22px 17px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}
