.main-navigation {
  width: 100%;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    width: max-content;
  }
}

.main-navigation__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.main-navigation__link {
  display: block;
  padding: 22px 18px;
}
