.product-card {
  position: relative;
  display: grid;
  grid-template-areas:
    "image info"
    "button button";
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    min-height: 430px;
    padding: 0 36px 40px;
    margin-top: 81px;
    background-color: $footer-background-color;
    grid-template-areas:
      "image"
      "info"
      "button";
    grid-template-columns: unset;
  }

  &_show-more {
    grid-template-areas:
      "info"
      "button";
    grid-template-columns: unset;

    @media (min-width: $tablet-width) {
      background-color: $base-background-color;
      border: 2px solid $footer-background-color;
    }
  }
}

.product-card__container {
  grid-area: image;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 112px;

  @media (min-width: $tablet-width) {
    height: 204px;
    margin-top: -81px;
    margin-bottom: 25px;
  }
}

.product-card__image {
  width: 84px;

  @media (min-width: $tablet-width) {
    width: 168px;
  }

  &_small {
    width: 68px;
    transform: translateY(-8px);

    @media (min-width: $tablet-width) {
      width: 161px;
      transform: none;
    }
  }
}

.product-card__info {
  grid-area: info;
  margin-top: 2px;

  &_show-more {
    margin: 0 auto;
    padding-top: 60px;

    @media (min-width: $tablet-width) {
      padding-top: 155px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 30px;
      left: calc(50% - 15px);
      top: 40px;
      background-color: $medium-line-color;

      @media (min-width: $tablet-width) {
        width: 60px;
        left: calc(50% - 30px);
        top: 80px;
      }
    }

    &::after {
      transform: rotate(90deg);
    }
  }
}

.product-card__title {
  @include title-font(16px, 20px);
  text-transform: uppercase;
  color: $special-font-color;
  width: 60%;
  margin-bottom: 15px;

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    @include title-font(20px, 24px);
    text-align: center;
    width: 100%;

    & br {
      display: block;
    }
  }

  &_show-more {
    text-align: center;
    margin-bottom: 8px;
    width: 100%;

    & br {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
      }
    }
  }
}

.product-card__description {
  @include base-font(12px, 16px);

  @media (min-width: $tablet-width) {
    @include base-font(16px, 18px);
    margin-top: 22px;
  }

  &_show-more {
    text-align: center;
    margin-bottom: 10px;

    & br {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
      }
    }
  }
}

.product-card__table {
  @include base-font(12px, 16px);
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    @include base-font(16px, 16px);
  }
}

.product-card__table-row {
  display: flex;

  @media (min-width: $tablet-width) {
    padding: 7px 0;
    border-bottom: 1px solid $control-mark-color;
  }
}

.product-card__key {
  padding: 0;
}

.product-card__value {
  margin-left: auto;
  text-align: end;
  padding: 0;
}

.product-card__button {
  @include button(10px, 20px);
  @include title-font(16px, 20px);
  text-transform: uppercase;
  grid-area: button;
  margin-top: 14px;
  align-self: end;
}

.product-card__button_show-more {
  background-color: $footer-background-color;
  color: $base-font-color;
  margin-top: 11px;

  &:hover,
  &:focus {
    background-color: $secondary-button-color;
  }

  &:active {
    background-color: $secondary-button-color;
    color: rgba($base-font-color, 0.3);
  }
}
