.programs {
  margin-bottom: 30px;
}

.programs__list {
  @include mobile-wrapper;
  display: grid;
  grid-template-rows: min-content / min-content;
  gap: 20px;
}

.programs__item {
  display: flex;
  flex-direction: column;
  background-color: $footer-background-color;
  padding: 20px;
}

.programs__title::before {
  content: "";
  display: inline-block;
  background-color: $theme-color;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.programs__title {
  @include description-font(24px, 37px);
  color: $title-font-color;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
}

.programs__description {
  margin-bottom: 20px;
}

.programs__link {
  @include description-font(16px, 16px);
  color: $title-font-color;
  display: inline-block;
  padding: 11px 0;
}
