.programs {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.programs__list {
  display: grid;
  grid-template-rows: repeat(auto-fill, min-content);
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.programs__item {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: $footer-background-color;
  padding: 24px 20px 12px;

  @media (min-width: $tablet-width) {
    padding: 76px 52px 48px;
  }

  @media (min-width: $desktop-width) {
    padding: 45px 50px 50px;
  }
}

.programs__title::before {
  content: "";
  display: inline-block;
  background-color: $theme-color;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 19px;
  margin-left: 2px;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    position: absolute;
    order: 1;
    width: 200px;
    height: 200px;
    right: 64px;
    top: 10px;
    bottom: 0;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    position: unset;
    order: 0;
    width: 100px;
    height: 100px;
    margin: 0 64px 0 0;
  }
}

.programs__title {
  @include title-font(24px, 37px);
  text-transform: uppercase;
  color: $title-font-color;
  margin-bottom: 22px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    @include title-font(36px, 36px);
    width: calc(100% - 230px);
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
    width: 100%;
  }
}

.programs__title--slim::after {
  content: "";
  width: 36px;
  height: 50px;
  background-image: url("../img/icons/cat-slim.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: 29px;
  margin: auto;
  transform: translateY(-3px);

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 192px;
    top: 0;
    right: 94px;
    bottom: 20px;
    left: auto;
    transform: unset;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    top: auto;
    right: auto;
    bottom: auto;
    left: 66px;
    transform: translateY(-9px);
  }
}

.programs__title--pro::after {
  content: "";
  width: 67px;
  height: 28px;
  background-image: url("../img/icons/cat-pro.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: 13px;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
    top: 10px;
    right: 30px;
    bottom: 0;
    left: auto;
    transform: unset;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
    top: auto;
    right: auto;
    bottom: auto;
    left: 32px;
    transform: translateY(2px);
  }
}

.programs__description {
  margin-bottom: 23px;
  flex-grow: 1;

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    @include base-font(16px, 24px);
    width: calc(100% - 230px);
    margin-bottom: 33px;

    & br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 10px;

    & br {
      display: none;
    }
  }
}

.programs__link::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: $dark-line-color;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.programs__arrow-icon {
  flex-shrink: 0;
  margin-left: 16px;

  @media (min-width: $tablet-width) {
    margin-left: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 28px;
  }

  &--long {
    display: none;
  }
}

.programs__link {
  @include title-font(16px, 16px);
  text-transform: uppercase;
  color: $title-font-color;
  padding: 19px 0 10px;
  display: flex;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    @include title-font(20px, 30px);
    width: calc(100% - 270px);
  }

  &:hover .programs__arrow-icon {
    &--short {
      display: none;
    }

    &--long {
      display: block;
    }
  }

  &:focus {
    outline: none;
    color: rgba($title-font-color, 0.3);
  }

  &:focus .programs__arrow-icon {
    opacity: 0.3;
  }

  &:active {
    color: rgba($title-font-color, 0.3);
  }

  &:active .programs__arrow-icon {
    opacity: 0.3;
  }
}
