.socials {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 16px;
}

.socials__link {
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #666666;
  padding: 10px;
}
