.socials {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 12px;

  @media (min-width: $tablet-width) {
    gap: 8px;
    transform: translateX(-4px);
  }
}

.socials__link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 42px;
    height: 42px;
  }

  &:hover .socials__icon,
  &:focus .socials__icon {
    fill: $theme-color;
    stroke: $theme-color;
  }

  &:focus {
    outline: none;
  }

  &:active .socials__icon {
    fill: $theme-color;
    stroke: $theme-color;
    opacity: 0.3;
  }
}

.socials__icon {
  fill: $icons-fill-color;
  stroke: $icons-fill-color;

  &_vk {
    transform: translateX(-3px);
  }
}

@media (min-width: $tablet-width) {
  .socials__icon {
    height: auto;

    &_vk {
      width: 31px;
    }

    &_ig {
      width: 23px;
    }

    &_fb {
      width: 17px;
      transform: translateX(-3px);
    }
  }
}
