// Theme
$theme-color: #68b738;
$status-error: #ff8282;

// Background
$base-background-color: #ffffff;
$footer-background-color: #f2f2f2;
$blocks-background-color: #eaeaea;

// Font
$base-font-color: #444444;
$title-font-color: #000000;


// Other
$table-border-color: #c4c4c4;
$input-border-color: #e7e7e7;
$control-mark-color: #cdcdcd;
$lines-color: #d9d9d9;
$icons-fill-color: #666666;
