// Typography
@mixin title-font($font-size: 36px, $line-height: 36px) {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin base-font($font-size: 14px, $line-height: 18px) {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin description-font($font-size, $line-height) {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  text-transform: uppercase;
}

@mixin legend-line($padding) {
  width: max-content;
  position: relative;
  color: $title-font-color;

  /*
  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: 15px;
    left: -20px;
    width: 100vw;
    height: 2px;
    background-color: $theme-color;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -$padding;
    right: -$padding;
    margin: auto;
    background-color: $base-background-color;
  }
   */
}

.form__item {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}

// Button
@mixin button($padding-x, $padding-y) {
  display: inline-block;
  color: $base-background-color;
  background-color: $theme-color;
  padding: $padding-x $padding-y;
  cursor: pointer;
}

// Wrapper
@mixin wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}
