@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff"); }

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff"); }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

img {
  display: block;
  height: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

*,
*::after,
*::before {
  box-sizing: border-box; }

h1,
h2,
h3,
p {
  margin: 0; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

button {
  margin: 0;
  border: none;
  background: none; }

.page {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  min-height: 100%;
  min-width: 320px;
  background-color: #ffffff;
  color: #444444; }

.page__body {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0; }

.header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000000; }
  @media (min-width: 768px) {
    .header {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 24px; } }
  @media (min-width: 1440px) {
    .header {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      line-height: 30px; } }

.header__wrapper {
  margin: 0 20px; }
  @media (min-width: 768px) {
    .header__wrapper {
      margin: 0 30px; } }
  @media (min-width: 1440px) {
    .header__wrapper {
      margin: 0 110px; } }
  @media (min-width: 1770px) {
    .header__wrapper {
      width: 1660px;
      margin: 0 auto; } }
  @media (min-width: 768px) {
    .header__wrapper {
      display: grid;
      align-items: center;
      grid-template-columns: 220px auto;
      margin-top: 20px; } }
  @media (min-width: 1440px) {
    .header__wrapper {
      grid-template-columns: 1fr 1fr;
      margin-top: 47px; } }

.header__block {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  padding-top: 12px;
  padding-bottom: 17px; }
  @media (min-width: 768px) {
    .header__block {
      display: block;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      padding: 0; } }

.header__logo:focus {
  outline: none; }

.header__logo:hover img,
.header__logo:focus img {
  opacity: 0.8; }

.header__logo:active img {
  opacity: 0.6; }

.header__logo img {
  cursor: pointer;
  width: 33px;
  height: auto; }
  @media (min-width: 768px) {
    .header__logo img {
      width: 174px; } }
  @media (min-width: 1440px) {
    .header__logo img {
      width: 202px; } }
  .header__logo img:hover, .header__logo img:focus {
    opacity: 0.8; }

.header__logo_text-only {
  justify-self: center;
  padding-top: 2px; }
  @media (min-width: 768px) {
    .header__logo_text-only {
      display: none; } }

.header__toggle {
  justify-self: end; }

@media (min-width: 768px) {
  .header__navigation {
    justify-self: end; } }

.main-navigation_closed {
  display: none; }
  @media (min-width: 768px) {
    .main-navigation_closed {
      display: block; } }

.main-navigation_nojs {
  display: block; }

.main-navigation__toggle {
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 -8px 0 0 #000000, 0 8px 0 0 #000000; }
  .main-navigation__toggle_close, .main-navigation__toggle_nojs {
    width: 25px;
    box-shadow: none;
    transform: rotate(47deg);
    position: relative; }
    .main-navigation__toggle_close::after, .main-navigation__toggle_nojs::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      transform: rotate(88deg); }
  @media (min-width: 768px) {
    .main-navigation__toggle {
      display: none; } }

.main-navigation__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: #000000; }
  .main-navigation__list::before {
    content: "";
    position: absolute;
    left: calc(50% - 50vw);
    top: 0;
    margin: auto;
    height: 1px;
    width: 100vw;
    background-color: #e6e6e6; }
    @media (min-width: 768px) {
      .main-navigation__list::before {
        display: none; } }
  @media (min-width: 768px) {
    .main-navigation__list {
      flex-direction: row; } }
  @media (min-width: 1440px) {
    .main-navigation__list {
      color: #ffffff; }
      .main-navigation__list_inner {
        color: #000000; } }

.main-navigation__item {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center; }
  .main-navigation__item::after {
    content: "";
    position: absolute;
    left: calc(50% - 50vw);
    bottom: 0;
    margin: auto;
    height: 1px;
    width: 100vw;
    background-color: #e6e6e6; }
    @media (min-width: 768px) {
      .main-navigation__item::after {
        display: none; } }
  @media (min-width: 768px) {
    .main-navigation__item {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content; } }

.main-navigation__list_inner .main-navigation__item:last-child::after {
  display: none; }

.main-navigation__item_current {
  position: relative; }
  @media (min-width: 768px) {
    .main-navigation__item_current::before {
      content: "";
      width: calc(100% - 36px);
      height: 2px;
      background-color: #68b738;
      position: absolute;
      bottom: 13px;
      left: 0;
      right: 0;
      margin: auto; } }
  @media (min-width: 1440px) {
    .main-navigation__item_current::before {
      background-color: #ffffff; } }
  @media (min-width: 1440px) {
    .main-navigation__list_inner .main-navigation__item_current::before {
      background-color: #68b738; } }
  .main-navigation__item_current .main-navigation__link:hover {
    cursor: default;
    opacity: 1; }

.main-navigation__link {
  display: block;
  padding: 22px 18px 23px;
  cursor: pointer; }
  .main-navigation__link:hover {
    opacity: 0.6; }
  .main-navigation__link:focus {
    opacity: 0.6;
    outline: none; }
  .main-navigation__link:active {
    opacity: 0.3; }

.promo {
  position: relative;
  color: #ffffff; }
  @media (min-width: 768px) {
    .promo {
      color: #000000; } }

.promo__wrapper {
  margin: 0 20px;
  padding: 25px 0;
  text-align: center; }
  @media (min-width: 768px) {
    .promo__wrapper {
      margin: 0 30px; } }
  @media (min-width: 1440px) {
    .promo__wrapper {
      margin: 0 110px; } }
  @media (min-width: 1770px) {
    .promo__wrapper {
      width: 1660px;
      margin: 0 auto; } }
  @media (min-width: 768px) {
    .promo__wrapper {
      text-align: unset;
      min-height: 900px;
      padding: 60px 100px 526px; } }
  @media (min-width: 1440px) {
    .promo__wrapper {
      min-height: 522px;
      width: calc(50% - 30px);
      padding: 100px 80px 195px;
      margin-bottom: 82px; } }

.promo__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .promo__title {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 40px; } }

.promo__description {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .promo__description {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 50px; } }
  @media (min-width: 1440px) {
    .promo__description {
      margin-right: 50px; } }

.promo__image {
  margin: 0 auto;
  width: 280px; }
  @media (min-width: 768px) {
    .promo__image {
      position: absolute;
      z-index: -1;
      width: 709px;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto; } }
  @media (min-width: 1440px) {
    .promo__image {
      top: 0;
      left: 230px;
      width: 552px; } }

.promo__link {
  display: inline-block;
  color: #ffffff;
  background-color: #68b738;
  padding: 14px 26px;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  width: 100%; }
  .promo__link:hover {
    background-color: #5eaa2f; }
  .promo__link:focus {
    outline: none;
    background-color: #5eaa2f; }
  .promo__link:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3); }
  @media (min-width: 768px) {
    .promo__link {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      line-height: 20px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content; } }

.promo__background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  width: 100%;
  min-height: 300px;
  height: calc(100% - 175px);
  background-color: #68b738;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/background/cat-photo.jpg"); }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .promo__background {
      background-image: url("../img/background/cat-photo@2x.jpg"); } }
  @media (min-width: 768px) {
    .promo__background {
      display: none; } }
  @media (min-width: 1440px) {
    .promo__background {
      display: block;
      width: 50%;
      height: 696px;
      top: -122px;
      background-position: left 50%;
      background-image: url("../img/background/cat-photo-desktop.jpg"); } }
  @media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
    .promo__background {
      background-image: url("../img/background/cat-photo-desktop@2x.jpg"); } }
  .promo__background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(104, 183, 56, 0.85); }

.programs {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .programs {
      margin-bottom: 45px; } }
  @media (min-width: 1440px) {
    .programs {
      margin-bottom: 70px; } }

.programs__list {
  margin: 0 20px;
  display: grid;
  grid-template-rows: repeat(auto-fill, -webkit-min-content);
  grid-template-rows: repeat(auto-fill, min-content);
  gap: 20px; }
  @media (min-width: 768px) {
    .programs__list {
      margin: 0 30px; } }
  @media (min-width: 1440px) {
    .programs__list {
      margin: 0 110px; } }
  @media (min-width: 1770px) {
    .programs__list {
      width: 1660px;
      margin: 0 auto; } }
  @media (min-width: 768px) {
    .programs__list {
      gap: 30px; } }
  @media (min-width: 1440px) {
    .programs__list {
      grid-template-columns: 1fr 1fr;
      gap: 80px; } }

.programs__item {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 20px; }
  @media (min-width: 768px) {
    .programs__item {
      padding: 77px 60px 50px 50px; } }
  @media (min-width: 1440px) {
    .programs__item {
      padding: 40px 50px 55px; } }

.programs__title::before {
  content: "";
  display: inline-block;
  background-color: #68b738;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  flex-shrink: 0; }
  @media (min-width: 768px) {
    .programs__title::before {
      position: absolute;
      order: 1;
      width: 200px;
      height: 200px;
      right: 60px;
      top: 25px;
      bottom: 0;
      margin: auto; } }
  @media (min-width: 1440px) {
    .programs__title::before {
      position: unset;
      order: 0;
      width: 100px;
      height: 100px;
      margin: 0 60px 0 0; } }

.programs__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 22px;
  display: flex;
  align-items: center; }
  @media (min-width: 768px) {
    .programs__title {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 36px;
      line-height: 36px;
      width: calc(100% - 270px); } }
  @media (min-width: 1440px) {
    .programs__title {
      margin-bottom: 40px; } }

.programs__title_slim::after {
  content: "";
  width: 36px;
  height: 50px;
  background-image: url("../img/icons/cat-slim.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: 27px;
  margin: auto;
  transform: translateY(-3px); }
  @media (min-width: 768px) {
    .programs__title_slim::after {
      width: 140px;
      height: 192px;
      top: 0;
      right: 90px;
      bottom: 5px;
      left: auto;
      transform: unset; } }
  @media (min-width: 1440px) {
    .programs__title_slim::after {
      width: 70px;
      height: 97px;
      top: auto;
      right: auto;
      bottom: auto;
      left: 64px;
      transform: translateY(-9px); } }

.programs__title_pro::after {
  content: "";
  width: 67px;
  height: 28px;
  background-image: url("../img/icons/cat-pro.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: 9px;
  margin: auto;
  transform: translateY(2px); }
  @media (min-width: 768px) {
    .programs__title_pro::after {
      width: 268px;
      height: 112px;
      top: 30px;
      right: 30px;
      bottom: 0;
      left: auto;
      transform: unset; } }
  @media (min-width: 1440px) {
    .programs__title_pro::after {
      width: 134px;
      height: 56px;
      top: auto;
      right: auto;
      bottom: auto;
      left: 24px;
      transform: translateY(2px); } }

.programs__description {
  margin-bottom: 23px;
  flex-grow: 1; }
  @media (min-width: 768px) {
    .programs__description {
      font-family: "Arial", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 24px;
      width: calc(100% - 270px); } }
  @media (min-width: 1440px) {
    .programs__description {
      width: 100%; } }

.programs__link::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9; }
  @media (min-width: 768px) {
    .programs__link::before {
      display: none; } }

.programs__arrow-icon {
  flex-shrink: 0;
  margin-left: 15px; }
  @media (min-width: 768px) {
    .programs__arrow-icon {
      margin-left: 25px; } }
  @media (min-width: 1440px) {
    .programs__arrow-icon {
      margin-left: 28px; } }
  .programs__arrow-icon_long {
    display: none; }

.programs__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  padding: 23px 0 10px;
  display: flex;
  align-items: center;
  position: relative; }
  @media (min-width: 768px) {
    .programs__link {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      line-height: 30px;
      width: calc(100% - 270px); } }
  .programs__link:hover .programs__arrow-icon_short {
    display: none; }
  .programs__link:hover .programs__arrow-icon_long {
    display: block; }
  .programs__link:focus {
    outline: none;
    color: rgba(0, 0, 0, 0.3); }
  .programs__link:focus .programs__arrow-icon {
    opacity: 0.3; }
  .programs__link:active {
    color: rgba(0, 0, 0, 0.3); }
  .programs__link:active .programs__arrow-icon {
    opacity: 0.3; }

.how-it-works {
  margin: 0 20px;
  margin-bottom: 42px; }
  @media (min-width: 768px) {
    .how-it-works {
      margin: 0 30px; } }
  @media (min-width: 1440px) {
    .how-it-works {
      margin: 0 110px; } }
  @media (min-width: 1770px) {
    .how-it-works {
      width: 1660px;
      margin: 0 auto; } }
  @media (min-width: 768px) {
    .how-it-works {
      margin-bottom: 47px; } }

.how-it-works__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 38px; }
  @media (min-width: 768px) {
    .how-it-works__title {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 32px; } }

.how-it-works__list {
  counter-reset: item; }
  @media (min-width: 768px) {
    .how-it-works__list {
      display: grid;
      grid-template-columns: repeat(auto-fill, 240px);
      -moz-column-gap: 135px;
           column-gap: 135px;
      row-gap: 37px; } }
  @media (min-width: 1440px) {
    .how-it-works__list {
      -moz-column-gap: 75px;
           column-gap: 75px; } }
  @media (min-width: 1450px) {
    .how-it-works__list {
      grid-template-columns: repeat(4, 1fr); } }

.how-it-works__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .how-it-works__item {
      min-height: 280px;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 40px;
      margin-bottom: 0; } }
  .how-it-works__item::before {
    content: "";
    background-color: #68b738;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: center; }
    @media (min-width: 768px) {
      .how-it-works__item::before {
        margin-bottom: 30px;
        width: 80px;
        height: 80px; } }
  .how-it-works__item_leaf::before {
    background-image: url("../img/tabs/icon-leaf.svg");
    background-size: 30px 32px; }
  .how-it-works__item_tub::before {
    background-image: url("../img/tabs/icon-tub.svg");
    background-size: 29px 31px; }
  .how-it-works__item_eat::before {
    background-image: url("../img/tabs/icon-eat.svg");
    background-size: 25px 30px; }
  .how-it-works__item_alarm::before {
    background-image: url("../img/tabs/icon-alarm.svg");
    background-size: 32px 33px; }

@media (min-width: 768px) {
  .how-it-works__item::after {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 280px;
    line-height: 280px;
    text-transform: uppercase;
    color: #f2f2f2;
    z-index: -1;
    height: 280px;
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    counter-increment: item;
    content: counter(item); } }

.example {
  background-color: #eaeaea;
  padding: 27px 0;
  position: relative; }
  @media (min-width: 768px) {
    .example {
      background: linear-gradient(to top, #eaeaea 462px, #ffffff 0);
      padding-top: 44px; }
      .example::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100vw;
        height: 1px;
        background-color: #e6e6e6; } }
  @media (min-width: 1440px) {
    .example {
      padding-bottom: 0;
      background: linear-gradient(to bottom, #ffffff 200px, #eaeaea 0); }
      .example::before {
        display: none; } }

.example__wrapper {
  margin: 0 20px; }
  @media (min-width: 768px) {
    .example__wrapper {
      margin: 0 30px; } }
  @media (min-width: 1440px) {
    .example__wrapper {
      margin: 0 110px; } }
  @media (min-width: 1770px) {
    .example__wrapper {
      width: 1660px;
      margin: 0 auto; } }
  @media (min-width: 1440px) {
    .example__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px; } }

@media (min-width: 1440px) {
  .example__content {
    margin-bottom: 75px; } }

@media (min-width: 768px) {
  .example__block {
    display: flex;
    justify-content: space-between;
    align-items: center; } }

@media (min-width: 1440px) {
  .example__block {
    display: block; } }

.example__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .example__title {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 60px; } }
  @media (min-width: 1440px) {
    .example__title {
      margin-bottom: 145px; } }

.example__description {
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .example__description {
      font-family: "Arial", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 55px; } }
  @media (min-width: 1440px) {
    .example__description {
      margin-bottom: 70px; } }

.example__list {
  flex-shrink: 0;
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .example__list {
      margin-bottom: 0;
      margin-right: 30px; } }
  @media (min-width: 1440px) {
    .example__list {
      margin-bottom: 45px;
      margin-right: 0; } }

.example__price {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-bottom: 32px; }
  @media (min-width: 768px) {
    .example__price {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      line-height: 20px;
      text-align: end;
      margin: auto 0; } }
  @media (min-width: 1440px) {
    .example__price {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 366px;
      text-align: start; } }

@media (min-width: 768px) {
  .example__span {
    display: block;
    margin-top: 9px; } }

@media (min-width: 1440px) {
  .example__span {
    text-align: center;
    margin-top: 0; } }

@media (min-width: 768px) {
  .example__image {
    margin-top: 60px; } }

@media (min-width: 1440px) {
  .example__image {
    transform: translate(40px, -42px);
    margin-top: -42px; } }

.table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%; }
  @media (min-width: 768px) {
    .table {
      width: 366px;
      gap: 42px; } }

.table__item {
  position: relative; }

.table__value {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  padding: 14px 0 17px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px; }
  @media (min-width: 768px) {
    .table__value {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 30px;
      line-height: 37px;
      padding: 15px 0 20px; } }

.table__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  background-color: #eaeaea;
  position: absolute;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  text-align: center;
  padding: 8px;
  right: 0;
  top: 42px;
  left: 0;
  margin: auto; }
  @media (min-width: 375px) {
    .table__description {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content; } }
  @media (min-width: 768px) {
    .table__description {
      font-family: "Arial", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      line-height: 14px;
      top: 56px;
      background-color: #ffffff; } }
  @media (min-width: 1440px) {
    .table__description {
      background-color: #eaeaea; } }
  @media (min-width: 2440px) {
    .table__description {
      line-height: 18px;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content; } }

.before-after__photos {
  display: flex;
  justify-content: center;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .before-after__photos {
      width: 710px;
      height: 590px; } }

@media (min-width: 768px) {
  .before-after__photo {
    position: relative;
    overflow: hidden; }
    .before-after__photo:nth-child(1) {
      width: 50%; }
    .before-after__photo:nth-child(2) {
      width: 50%; } }

.before-after__photo_before {
  width: 100%; }
  @media (min-width: 768px) {
    .before-after__photo_before {
      position: absolute;
      left: -45px;
      width: auto;
      height: 590px; } }

.before-after__photo_after {
  display: none; }
  @media (min-width: 768px) {
    .before-after__photo_after {
      display: block;
      position: absolute;
      right: 25px;
      width: auto;
      height: 590px; } }

.before-after__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto 0;
  padding: 0 30px; }

.before-after__button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  border: none;
  background: none;
  padding: 6px 13px;
  position: relative;
  cursor: pointer; }
  .before-after__button:focus {
    outline: none; }

@media (min-width: 768px) {
  .before-after__button {
    padding: 6px 20px; }
    .before-after__button::after {
      content: "";
      background-image: url("../img/icons/underline.svg");
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 1px;
      width: calc(100% - 40px); }
    .before-after__button:hover::after, .before-after__button:focus::after {
      background-image: none;
      background-color: rgba(0, 0, 0, 0.4); }
    .before-after__button:active::after {
      display: none; } }

.before-after__range {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center; }

.before-after__container {
  position: absolute;
  width: calc(100% - 12px);
  height: 6px;
  top: 0;
  bottom: 0;
  left: 6px;
  right: 6px;
  margin: auto; }
  .before-after__container .before-after__progress-bar {
    display: block;
    height: 6px;
    border-radius: 6px;
    background-color: #68b738; }
  @media (min-width: 768px) {
    .before-after__container {
      display: none; } }

.before-after__input {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  height: 14px;
  border-radius: 6px;
  -webkit-appearance: initial;
     -moz-appearance: initial;
          appearance: initial; }
  .before-after__input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
            appearance: none; }
  .before-after__input::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none; }
  .before-after__input::-moz-range-thumb {
    background-color: transparent;
    border: none; }

@media (min-width: 768px) {
  .before-after__input {
    background-color: #dcdcdc;
    border: none;
    height: 6px; }
  .before-after__range::after {
    display: none; }
  .before-after__input::-webkit-slider-thumb {
    cursor: pointer;
    width: 8px;
    height: 8px;
    background-color: #68b738;
    border: 13px solid #ffffff;
    box-sizing: unset;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #cdcdcd, 0 2px 3px 0 rgba(0, 0, 0, 0.16); }
  .before-after__input::-moz-range-thumb {
    cursor: pointer;
    width: 8px;
    height: 8px;
    background-color: #68b738;
    border: 13px solid #ffffff;
    box-sizing: unset;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #cdcdcd, 0 2px 3px 0 rgba(0, 0, 0, 0.16); } }

.before-after__input:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #cdcdcd, 0 3px 4px 0 rgba(0, 0, 0, 0.19); }

.before-after__input:hover::-moz-range-thumb {
  box-shadow: 0 0 0 1px #cdcdcd, 0 3px 4px 0 rgba(0, 0, 0, 0.19); }

.before-after__input:focus {
  outline: none; }

.before-after__input:focus::-webkit-slider-thumb,
.before-after__input:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #68b738, 0 4px 5px 0 rgba(0, 0, 0, 0.19); }

.before-after__input:focus::-moz-range-thumb,
.before-after__input:active::-moz-range-thumb {
  box-shadow: 0 0 0 1px #68b738, 0 4px 5px 0 rgba(0, 0, 0, 0.19); }

.footer {
  background-color: #f2f2f2; }

.footer__block {
  margin: 0 20px;
  display: grid;
  grid-template-rows: 87px 63px 78px;
  align-items: end;
  justify-items: center;
  padding-top: 8px; }
  @media (min-width: 768px) {
    .footer__block {
      margin: 0 30px; } }
  @media (min-width: 1440px) {
    .footer__block {
      margin: 0 110px; } }
  @media (min-width: 1770px) {
    .footer__block {
      width: 1660px;
      margin: 0 auto; } }
  @media (min-width: 768px) {
    .footer__block {
      grid-template-rows: unset;
      grid-template-columns: 200px 1fr 200px;
      padding: 55px 0;
      align-items: center; } }

.footer__item {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 11px;
  display: flex;
  justify-content: center; }
  @media (min-width: 768px) {
    .footer__item {
      padding: 0; } }
  .footer__item:first-child {
    padding-bottom: 32px; }
    @media (min-width: 768px) {
      .footer__item:first-child {
        padding: 0; } }
  .footer__item:last-child {
    padding-bottom: 22px;
    display: block; }
    @media (min-width: 768px) {
      .footer__item:last-child {
        padding: 0; } }

@media (min-width: 768px) {
  .footer__item:first-child {
    width: 200px;
    justify-content: flex-start; } }

.footer__item:not(:last-child) {
  position: relative; }
  .footer__item:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    bottom: 0;
    margin: auto; }
    @media (min-width: 768px) {
      .footer__item:not(:last-child)::after {
        display: none; } }

@media (min-width: 768px) {
  .footer__item:last-child {
    justify-content: flex-end; } }

.footer__item:last-child::after {
  display: none; }

.footer__logo-link {
  cursor: pointer; }
  .footer__logo-link:hover {
    opacity: 0.8; }
  .footer__logo-link:focus {
    opacity: 0.8;
    outline: none; }
  .footer__logo-link:active {
    opacity: 0.6; }

.footer__icon {
  fill: #666666;
  margin-left: auto;
  width: 27px;
  height: 34px; }
  @media (min-width: 768px) {
    .footer__icon {
      margin-left: 22px; } }

.footer__copyright {
  justify-self: end;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 768px) {
    .footer__copyright {
      justify-content: flex-end; } }
  .footer__copyright:hover .footer__icon,
  .footer__copyright:focus .footer__icon,
  .footer__copyright:active .footer__icon {
    fill: #68b738; }
  .footer__copyright:focus {
    outline: none; }
  .footer__copyright:active {
    opacity: 0.3; }

.address {
  background-color: #ffffff; }
  .address_inner {
    background-color: #f2f2f2; }
    @media (min-width: 1440px) {
      .address_inner {
        background-color: #ffffff; } }

.address__wrapper {
  margin: 0 20px;
  position: relative; }
  @media (min-width: 768px) {
    .address__wrapper {
      margin: 0 30px; } }
  @media (min-width: 1440px) {
    .address__wrapper {
      margin: 0 110px; } }
  @media (min-width: 1770px) {
    .address__wrapper {
      width: 1660px;
      margin: 0 auto; } }

.address__content {
  z-index: 1;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 28px 0; }
  .address__content_inner {
    background-color: #f2f2f2; }
    @media (min-width: 1440px) {
      .address__content_inner {
        background-color: #ffffff; } }
  @media (min-width: 768px) {
    .address__content {
      gap: 80px;
      padding: 65px 40px; } }
  @media (min-width: 1440px) {
    .address__content {
      position: absolute;
      top: 95px;
      left: 0;
      margin: auto;
      padding: 70px; } }

.address__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

@media (min-width: 768px) {
  .address__block:nth-child(2) {
    justify-self: end; } }

@media (min-width: 1440px) {
  .address__block:nth-child(2) {
    justify-self: start; } }

.address__intro {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000; }
  @media (min-width: 768px) {
    .address__intro {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      line-height: 26px; } }

.address__item {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px; }
  @media (min-width: 768px) {
    .address__item {
      font-family: "Arial", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 20px;
      text-align: end; } }
  @media (min-width: 1440px) {
    .address__item {
      text-align: start; } }

.address__map {
  min-width: 100vw;
  height: 362px;
  position: relative;
  overflow: hidden; }
  @media (min-width: 768px) {
    .address__map {
      height: 400px; } }

.address__map img {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.address__map::after {
  content: "";
  width: 53px;
  height: 53px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../img/map/pin-mobile.png"); }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .address__map::after {
      background-image: url("../img/map/pin-mobile@2x.png"); } }
  @media (min-width: 768px) {
    .address__map::after {
      width: 106px;
      height: 106px;
      background-image: url("../img/map/pin.png"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
    .address__map::after {
      background-image: url("../img/map/pin@2x.png"); } }
  @media (min-width: 1440px) {
    .address__map::after {
      left: 40%; } }

.socials {
  display: grid;
  grid-template-columns: repeat(3, -webkit-max-content);
  grid-template-columns: repeat(3, max-content);
  gap: 11px; }

.socials__link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-width: 768px) {
    .socials__link {
      width: 42px;
      height: 42px; } }
  .socials__link:hover .socials__icon,
  .socials__link:focus .socials__icon {
    fill: #68b738;
    stroke: #68b738; }
  .socials__link:focus {
    outline: none; }
  .socials__link:active .socials__icon {
    fill: #68b738;
    stroke: #68b738;
    opacity: 0.3; }

.socials__icon {
  fill: #666666;
  stroke: #666666; }
  .socials__icon_ig {
    transform: translateX(3px); }

@media (min-width: 768px) {
  .socials__icon {
    height: auto; }
    .socials__icon_vk {
      width: 31px; }
    .socials__icon_ig {
      width: 23px; }
    .socials__icon_fb {
      width: 17px; } }

.inner-header {
  margin: 0 20px;
  position: relative;
  color: #000000;
  padding-top: 27px;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .inner-header {
      margin: 0 30px; } }
  @media (min-width: 1440px) {
    .inner-header {
      margin: 0 110px; } }
  @media (min-width: 1770px) {
    .inner-header {
      width: 1660px;
      margin: 0 auto; } }
  .inner-header::before {
    content: "";
    position: absolute;
    left: calc(50% - 50vw);
    top: 0;
    margin: auto;
    height: 1px;
    width: 100vw;
    background-color: #e6e6e6; }
    @media (min-width: 768px) {
      .inner-header::before {
        display: none; } }
  @media (min-width: 768px) {
    .inner-header {
      margin-top: 55px;
      margin-bottom: 66px;
      padding: 0 40px; } }
  @media (min-width: 1440px) {
    .inner-header {
      margin-top: 70px;
      padding: 0; } }

.inner-header__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 40px; }
  @media (min-width: 768px) {
    .inner-header__title {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 60px;
      line-height: 60px; } }

.inner-header__description {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 37px; }
  @media (min-width: 768px) {
    .inner-header__description {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      line-height: 30px;
      margin-top: 55px; } }

.form {
  margin: 0 20px;
  margin-bottom: 32px; }
  @media (min-width: 768px) {
    .form {
      margin: 0 30px; } }
  @media (min-width: 1440px) {
    .form {
      margin: 0 110px; } }
  @media (min-width: 1770px) {
    .form {
      width: 1660px;
      margin: 0 auto; } }
  @media (min-width: 768px) {
    .form {
      padding: 0 40px; } }
  @media (min-width: 1440px) {
    .form {
      padding: 0; } }

.form__block {
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .form__block {
      margin-bottom: 65px; } }
  @media (min-width: 1440px) {
    .form__block {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 80px;
      margin-bottom: 69px; } }
  .form__block_last {
    margin-top: 20px; }
    @media (min-width: 768px) {
      .form__block_last {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 60px;
        margin-top: 40px; } }
    @media (min-width: 1440px) {
      .form__block_last {
        margin-top: 60px; } }
  .form__block_comment {
    margin-bottom: 23px; }
    @media (min-width: 768px) {
      .form__block_comment {
        margin-bottom: 65px; } }

.form__sub-block:nth-child(1) {
  margin-bottom: 17px; }
  @media (min-width: 768px) {
    .form__sub-block:nth-child(1) {
      margin-bottom: 58px; } }
  @media (min-width: 1440px) {
    .form__sub-block:nth-child(1) {
      margin-bottom: 0; } }

.form__sub-block:nth-child(2) {
  position: relative;
  position: relative;
  padding-top: 23px;
  padding-bottom: 7px; }
  .form__sub-block:nth-child(2)::before {
    content: "";
    position: absolute;
    left: calc(50% - 50vw);
    top: 0;
    margin: auto;
    height: 1px;
    width: 100vw;
    background-color: #e6e6e6; }
    @media (min-width: 768px) {
      .form__sub-block:nth-child(2)::before {
        display: none; } }
  .form__sub-block:nth-child(2)::after {
    content: "";
    position: absolute;
    left: calc(50% - 50vw);
    bottom: 0;
    margin: auto;
    height: 1px;
    width: 100vw;
    background-color: #e6e6e6; }
    @media (min-width: 768px) {
      .form__sub-block:nth-child(2)::after {
        display: none; } }
  .form__sub-block:nth-child(2)::before {
    top: 0; }
  .form__sub-block:nth-child(2)::after {
    bottom: 0; }
  @media (min-width: 768px) {
    .form__sub-block:nth-child(2) {
      border: 1px solid #e6e6e6;
      padding: 24px 28px 11px; } }

@media (min-width: 768px) {
  .form__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 60px;
         column-gap: 60px;
    row-gap: 20px; } }

@media (min-width: 1440px) {
  .form__list {
    grid-template-columns: repeat(4, 1fr); } }

.form__legend {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 35px; }
  .form__legend::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: 16px;
    left: calc(50% - 50vw);
    margin: auto;
    width: 100vw;
    height: 2px;
    background-color: #68b738; }
  @media (min-width: 768px) {
    .form__legend {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 36px;
      line-height: 36px;
      display: block;
      width: 100%;
      position: relative;
      margin-bottom: 75px; }
      .form__legend::before {
        content: "";
        position: absolute;
        z-index: -2;
        top: 22px;
        left: calc(50% - 50vw);
        margin: auto;
        width: 100vw;
        height: 2px;
        background-color: #68b738; } }

.form__sub-title {
  color: #000000;
  background-color: #ffffff;
  display: inline-block;
  padding: 0 20px;
  transform: translateX(-20px); }
  @media (min-width: 768px) {
    .form__sub-title {
      padding: 0 40px;
      transform: translateX(-40px); } }
  .form__sub-title_long {
    width: 222px;
    transform: translateX(-22px); }
    @media (min-width: 768px) {
      .form__sub-title_long {
        width: auto;
        transform: translateX(-42px); } }

.form__item {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  position: relative; }

@media (min-width: 1440px) {
  .form__sub-block:nth-child(1) .form__item {
    margin-bottom: 20px; }
    .form__sub-block:nth-child(1) .form__item:last-child {
      margin-bottom: 0; } }

.form__input {
  flex-grow: 1; }

.form__button {
  display: inline-block;
  color: #ffffff;
  background-color: #68b738;
  padding: 13px 10px;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 100%; }
  .form__button:hover {
    background-color: #5eaa2f; }
  .form__button:focus {
    outline: none;
    background-color: #5eaa2f; }
  .form__button:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3); }
  @media (min-width: 768px) {
    .form__button {
      display: inline-block;
      color: #ffffff;
      background-color: #68b738;
      padding: 16px 45px;
      cursor: pointer;
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      line-height: 20px; }
      .form__button:hover {
        background-color: #5eaa2f; }
      .form__button:focus {
        outline: none;
        background-color: #5eaa2f; }
      .form__button:active {
        background-color: #5eaa2f;
        color: rgba(255, 255, 255, 0.3); } }

.form__info {
  color: #000000;
  text-align: center;
  margin-top: 20px; }
  @media (min-width: 768px) {
    .form__info {
      text-align: unset;
      margin-top: 0; } }

.input {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding: 15px;
  height: 45px;
  margin: 0;
  border: 1px solid #e7e7e7; }
  @media (min-width: 768px) {
    .input {
      height: 52px; } }
  .input::-moz-placeholder {
    color: #444444; }
  .input::placeholder {
    color: #444444; }
  .input_textarea {
    width: 100%;
    height: 150px; }
    @media (min-width: 768px) {
      .input_textarea {
        height: 174px; } }
  .input:hover {
    border: 1px solid #cdcdcd; }
  .input:focus {
    border: 2px solid #444444;
    padding: 14px;
    outline: none; }
  .input:active {
    border: 2px solid #444444;
    padding: 14px; }
  .input_error {
    border: 2px solid #ff8282;
    padding: 14px; }
    .input_error + .input__icon {
      fill: #ff8282;
      stroke: #ff8282; }

.input_with-icon {
  padding-right: 45px; }
  .input_with-icon:focus {
    padding-right: 45px; }
  .input_with-icon:focus + .input__icon {
    fill: #68b738;
    stroke: #68b738; }

.input__icon {
  width: 20px;
  height: auto;
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  fill: #222222;
  stroke: #222222; }

.input_checkbox,
.input_radio {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  z-index: 1;
  opacity: 0; }
  @media (min-width: 768px) {
    .input_checkbox,
    .input_radio {
      width: 40px;
      height: 40px; } }

.input_radio:disabled + .input__label,
.input_checkbox:disabled + .input__label {
  opacity: 0.3; }

.input__label {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 13px;
  display: flex;
  align-items: center; }

.input__control-mark {
  position: relative; }
  .input__control-mark::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    margin-right: 15px; }
    @media (min-width: 768px) {
      .input__control-mark::before {
        width: 40px;
        height: 40px; } }
  .input__control-mark:hover::before, .input__control-mark:hover::before {
    border: 1px solid #bababa; }
  .input__control-mark_radio::before {
    border-radius: 50%; }
  .input__control-mark::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0;
    bottom: 0;
    left: 8px;
    margin: auto;
    display: none; }
    @media (min-width: 768px) {
      .input__control-mark::after {
        width: 18px;
        height: 18px;
        left: 11px; } }
  .input__control-mark_radio::after {
    background-color: #68b738;
    border-radius: 50%; }
  .input__control-mark_checkbox::after {
    background-image: url("../img/icons/checkbox-mark.svg");
    background-repeat: no-repeat;
    background-position: center; }

.input:checked + .input__control-mark::after {
  display: block; }

.catalog {
  margin: 0 20px;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .catalog {
      margin: 0 30px; } }
  @media (min-width: 1440px) {
    .catalog {
      margin: 0 110px; } }
  @media (min-width: 1770px) {
    .catalog {
      width: 1660px;
      margin: 0 auto; } }
  @media (min-width: 768px) {
    .catalog {
      margin-bottom: 68px; } }
  @media (min-width: 1440px) {
    .catalog {
      margin-bottom: 76px; } }

.catalog__list {
  display: grid; }
  @media (min-width: 768px) {
    .catalog__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 60px; } }
  @media (min-width: 1440px) {
    .catalog__list {
      grid-template-columns: repeat(4, 1fr);
      gap: 80px; } }

.catalog__item {
  position: relative;
  padding: 19px 0 25px; }
  .catalog__item::after {
    content: "";
    position: absolute;
    left: calc(50% - 50vw);
    bottom: 0;
    margin: auto;
    height: 1px;
    width: 100vw;
    background-color: #e6e6e6; }
    @media (min-width: 768px) {
      .catalog__item::after {
        display: none; } }
  @media (min-width: 768px) {
    .catalog__item {
      padding: 0; } }
  .catalog__item:first-child {
    position: relative; }
    .catalog__item:first-child::before {
      content: "";
      position: absolute;
      left: calc(50% - 50vw);
      top: 0;
      margin: auto;
      height: 1px;
      width: 100vw;
      background-color: #e6e6e6; }
      @media (min-width: 768px) {
        .catalog__item:first-child::before {
          display: none; } }

.product-card {
  position: relative;
  display: grid;
  grid-template-areas: "image info" "button button"; }
  @media (min-width: 768px) {
    .product-card {
      min-height: 430px;
      padding: 0 36px 40px;
      margin-top: 81px;
      background-color: #f2f2f2;
      grid-template-areas: "image" "info" "button"; } }
  .product-card_show-more {
    grid-template-areas: "info" "button"; }
    @media (min-width: 768px) {
      .product-card_show-more {
        background-color: #ffffff;
        border: 2px solid #f2f2f2; } }

.product-card__container {
  grid-area: image;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 112px; }
  @media (min-width: 768px) {
    .product-card__container {
      height: 204px;
      margin-top: -81px;
      margin-bottom: 28px; } }

.product-card__image {
  width: 84px;
  transform: translateY(10px); }
  @media (min-width: 768px) {
    .product-card__image {
      width: 168px; } }
  .product-card__image_small {
    width: 68px;
    transform: translateY(-5px); }
    @media (min-width: 768px) {
      .product-card__image_small {
        width: 161px;
        transform: none; } }

.product-card__info {
  grid-area: info; }
  .product-card__info_show-more {
    margin: 0 auto;
    padding-top: 59px; }
    @media (min-width: 768px) {
      .product-card__info_show-more {
        padding-top: 160px; } }
    .product-card__info_show-more::before, .product-card__info_show-more::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 30px;
      left: calc(50% - 15px);
      top: 40px;
      background-color: #d3d3d3; }
      @media (min-width: 768px) {
        .product-card__info_show-more::before, .product-card__info_show-more::after {
          width: 60px;
          left: calc(50% - 30px);
          top: 80px; } }
    .product-card__info_show-more::after {
      transform: rotate(90deg); }

.product-card__title,
.product-card__size {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222; }
  @media (min-width: 768px) {
    .product-card__title,
    .product-card__size {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      line-height: 24px;
      text-align: center; } }
  .product-card__title_show-more,
  .product-card__size_show-more {
    text-align: center;
    margin-bottom: 8px; }
    .product-card__title_show-more br,
    .product-card__size_show-more br {
      display: none; }
      @media (min-width: 768px) {
        .product-card__title_show-more br,
        .product-card__size_show-more br {
          display: block; } }

.product-card__size {
  margin-bottom: 14px; }
  @media (min-width: 768px) {
    .product-card__size {
      margin-bottom: 18px; } }

.product-card__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 16px; }
  .product-card__description_show-more {
    text-align: center;
    margin-bottom: 10px; }
    .product-card__description_show-more br {
      display: none; }
      @media (min-width: 768px) {
        .product-card__description_show-more br {
          display: block; } }

.product-card__table {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  width: 100%; }
  @media (min-width: 768px) {
    .product-card__table {
      font-family: "Arial", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 16px; } }

.product-card__table-row {
  display: flex; }
  @media (min-width: 768px) {
    .product-card__table-row {
      padding: 7px 0;
      border-bottom: 1px solid #cdcdcd; } }

.product-card__value {
  margin-left: auto;
  text-align: end; }

.product-card__button {
  display: inline-block;
  color: #ffffff;
  background-color: #68b738;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  grid-area: button;
  margin-top: 13px;
  align-self: end; }
  .product-card__button:hover {
    background-color: #5eaa2f; }
  .product-card__button:focus {
    outline: none;
    background-color: #5eaa2f; }
  .product-card__button:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3); }
  @media (min-width: 768px) {
    .product-card__button {
      margin-top: 33px; } }

.product-card__button_show-more {
  background-color: #f2f2f2;
  color: #444444; }
  .product-card__button_show-more:hover, .product-card__button_show-more:focus {
    background-color: #ebebeb; }
  .product-card__button_show-more:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3); }

.adds {
  margin: 0 20px;
  margin-bottom: 35px; }
  @media (min-width: 768px) {
    .adds {
      margin: 0 30px; } }
  @media (min-width: 1440px) {
    .adds {
      margin: 0 110px; } }
  @media (min-width: 1770px) {
    .adds {
      width: 1660px;
      margin: 0 auto; } }
  @media (min-width: 768px) {
    .adds {
      margin-bottom: 75px; } }

.adds__wrapper {
  display: block;
  width: 100%;
  position: relative; }
  .adds__wrapper::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: 14px;
    left: calc(50% - 50vw);
    margin: auto;
    width: 100vw;
    height: 2px;
    background-color: #68b738; }
  @media (min-width: 768px) {
    .adds__wrapper {
      display: block;
      width: 100%;
      position: relative; }
      .adds__wrapper::before {
        content: "";
        position: absolute;
        z-index: -2;
        top: 22px;
        left: calc(50% - 50vw);
        margin: auto;
        width: 100vw;
        height: 2px;
        background-color: #68b738; } }

.adds__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 20px;
  transform: translateX(-20px);
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .adds__title {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 36px;
      line-height: 36px;
      padding: 0 40px;
      transform: none;
      margin-bottom: 80px; } }
  @media (min-width: 1440px) {
    .adds__title {
      transform: translateX(-40px); } }

@media (min-width: 1440px) {
  .adds__block {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px; } }

.adds__list {
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .adds__list {
      margin-bottom: 70px; } }
  @media (min-width: 1440px) {
    .adds__list {
      margin-bottom: 0; } }

.adds__item {
  display: grid;
  grid-template-areas: "product product" "size price" "button button";
  padding: 13px 0 19px;
  border-bottom: 1px solid #cdcdcd; }
  @media (min-width: 768px) {
    .adds__item {
      grid-template-areas: "product size price" "button button button";
      grid-template-columns: 1fr 200px 95px;
      align-items: center;
      padding: 26px 38px 28px;
      border-right: 1px solid #cdcdcd;
      border-left: 1px solid #cdcdcd; } }
  @media (min-width: 1440px) {
    .adds__item {
      grid-template-areas: "product size price button";
      grid-template-columns: 1fr 200px 155px 282px;
      padding: 15px 0 16px;
      border-right: none;
      border-left: none; } }
  .adds__item:first-child {
    border-top: 1px solid #cdcdcd; }

.adds__product-name {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  grid-area: product;
  margin-bottom: 13px; }
  @media (min-width: 768px) {
    .adds__product-name {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 0; } }

.adds__size,
.adds__price {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 14px; }
  @media (min-width: 768px) {
    .adds__size,
    .adds__price {
      font-family: "Arial", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 20px; } }

.adds__size {
  grid-area: size; }
  @media (min-width: 768px) {
    .adds__size {
      margin-left: auto; } }
  @media (min-width: 768px) {
    .adds__size {
      margin-left: 0; } }

.adds__price {
  grid-area: price;
  margin-left: auto; }

.adds__button {
  display: inline-block;
  color: #ffffff;
  background-color: #68b738;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  grid-area: button;
  width: 100%;
  margin-top: 15px; }
  .adds__button:hover {
    background-color: #5eaa2f; }
  .adds__button:focus {
    outline: none;
    background-color: #5eaa2f; }
  .adds__button:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3); }
  @media (min-width: 1440px) {
    .adds__button {
      width: 244px;
      margin-top: 0;
      margin-left: auto; } }

.bonus {
  background-color: #68b738;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 290px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/background/bonus-mobile.jpg"); }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .bonus {
      background-image: url("../img/background/bonus-mobile@2x.jpg"); } }
  @media (min-width: 768px) {
    .bonus {
      height: 200px;
      background-image: url("../img/background/bonus-tablet.jpg"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
    .bonus {
      background-image: url("../img/background/bonus-tablet@2x.jpg"); } }
  @media (min-width: 1440px) {
    .bonus {
      width: 245px;
      height: 289px;
      background-image: url("../img/background/bonus-desktop.jpg"); } }
  @media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
    .bonus {
      background-image: url("../img/background/bonus-desktop@2x.jpg"); } }

.bonus__wrapper {
  width: 100%;
  height: 100%;
  padding: 58px 50px 43px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 768px) {
    .bonus__wrapper {
      flex-direction: row;
      padding: 60px 124px 60px 78px; } }
  @media (min-width: 1440px) {
    .bonus__wrapper {
      flex-direction: column;
      padding: 56px 40px 41px; } }

.bonus__icon {
  background-image: url("../img/icons/gift.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 78px;
  height: 80px; }
  @media (min-width: 768px) {
    .bonus__icon {
      width: 80px;
      height: 83px; } }

.bonus__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center; }
  @media (min-width: 768px) {
    .bonus__text {
      text-align: unset;
      width: 161px; } }
  @media (min-width: 1440px) {
    .bonus__text {
      text-align: center; } }

/*# sourceMappingURL=style.css.map */
