@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff"); }

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff"); }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

*,
*::after,
*::before {
  box-sizing: border-box; }

h1,
h2,
h3,
p {
  margin: 0; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

button {
  margin: 0;
  border: none;
  background: none; }

.form__item {
  margin-bottom: 13px;
  display: flex;
  align-items: center; }

.page {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  min-height: 100%;
  min-width: 320px;
  background-color: #ffffff;
  color: #444444; }

.page__body {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0; }

.header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000000; }
  @media (min-width: 768px) {
    .header {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase; } }
  @media (min-width: 1440px) {
    .header {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase; } }

.header__wrapper {
  width: 280px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .header__wrapper {
      width: 708px; } }
  @media (min-width: 1440px) {
    .header__wrapper {
      width: 1220px; } }
  @media (min-width: 768px) {
    .header__wrapper {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 3fr; } }
  @media (min-width: 1440px) {
    .header__wrapper {
      grid-template-columns: 1fr 1fr; } }

.header__block {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  padding-top: 12px; }
  @media (min-width: 768px) {
    .header__block {
      display: block;
      padding-top: 0; } }

.header__logo_text {
  justify-self: center; }
  @media (min-width: 768px) {
    .header__logo_text {
      display: none; } }

.header__toggle {
  width: 24px;
  height: 24px;
  justify-self: end; }
  @media (min-width: 768px) {
    .header__toggle {
      display: none; } }

@media (min-width: 1440px) {
  .header__navigationtheme {
    background-color: #68b738;
    color: #ffffff; } }

.main-navigation {
  width: 100%;
  margin-left: auto; }
  @media (min-width: 768px) {
    .main-navigation {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content; } }

.main-navigation__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 768px) {
    .main-navigation__list {
      flex-direction: row; } }

.main-navigation__link {
  display: block;
  padding: 22px 18px; }

.promo {
  position: relative;
  color: #ffffff; }
  @media (min-width: 768px) {
    .promo {
      color: #000000; } }

.promo__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 25px 0;
  text-align: center; }
  @media (min-width: 768px) {
    .promo__wrapper {
      width: 708px; } }
  @media (min-width: 1440px) {
    .promo__wrapper {
      width: 1220px; } }
  @media (min-width: 768px) {
    .promo__wrapper {
      text-align: unset;
      min-height: 800px;
      padding: 60px 100px 10px; } }
  @media (min-width: 1440px) {
    .promo__wrapper {
      min-height: 490px;
      padding: 110px 80px 54px;
      margin-bottom: 82px; } }

.promo__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .promo__title {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 40px; } }

.promo__description {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .promo__description {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      margin-bottom: 50px; } }

.promo__image {
  margin: 0 auto; }
  @media (min-width: 768px) {
    .promo__image {
      position: absolute;
      z-index: -1;
      display: none; } }

.promo__link {
  display: inline-block;
  color: #ffffff;
  background-color: #68b738;
  padding: 14px 26px;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  width: 100%; }
  @media (min-width: 768px) {
    .promo__link {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content; } }

.promo__background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  width: 100%;
  height: 300px;
  background-color: #68b738;
  background-image: url("../img/background/cat-photo.jpg");
  background-repeat: no-repeat;
  background-size: 563px;
  background-position: top 35% left 65%; }
  .promo__background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(104, 183, 56, 0.85); }
  @media (min-width: 768px) {
    .promo__background {
      display: none; } }

.programs {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .programs {
      margin-bottom: 45px; } }
  @media (min-width: 1440px) {
    .programs {
      margin-bottom: 70px; } }

.programs__list {
  width: 280px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(auto-fill, -webkit-min-content);
  grid-template-rows: repeat(auto-fill, min-content);
  gap: 20px; }
  @media (min-width: 768px) {
    .programs__list {
      width: 708px; } }
  @media (min-width: 1440px) {
    .programs__list {
      width: 1220px; } }
  @media (min-width: 768px) {
    .programs__list {
      gap: 30px; } }
  @media (min-width: 1440px) {
    .programs__list {
      grid-template-columns: repeat(auto-fill, 570px);
      gap: 80px; } }

.programs__item {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 20px; }
  @media (min-width: 768px) {
    .programs__item {
      padding: 77px 60px 50px 50px; } }
  @media (min-width: 1440px) {
    .programs__item {
      padding: 40px 50px 55px; } }

.programs__title::before {
  content: "";
  display: inline-block;
  background-color: #68b738;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px; }

.programs__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 22px;
  display: flex;
  align-items: center; }
  @media (min-width: 768px) {
    .programs__title {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 36px;
      line-height: 36px;
      text-transform: uppercase; } }

.programs__description {
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .programs__description {
      font-family: "Arial", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 24px; } }

.programs__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  display: inline-block; }
  @media (min-width: 768px) {
    .programs__link {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase; } }

.how-it-works {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 42px; }
  @media (min-width: 768px) {
    .how-it-works {
      width: 708px; } }
  @media (min-width: 1440px) {
    .how-it-works {
      width: 1220px; } }

.how-it-works__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 38px; }
  @media (min-width: 768px) {
    .how-it-works__title {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 70px; } }

@media (min-width: 768px) {
  .how-it-works__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    -moz-column-gap: 135px;
         column-gap: 135px;
    row-gap: 75px; } }

@media (min-width: 1440px) {
  .how-it-works__list {
    -moz-column-gap: 75px;
         column-gap: 75px; } }

.how-it-works__item {
  margin-bottom: 22px;
  display: flex;
  align-items: center; }
  @media (min-width: 768px) {
    .how-it-works__item {
      flex-wrap: wrap; } }
  .how-it-works__item::before {
    content: "";
    background-color: #68b738;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    flex-shrink: 0; }
    @media (min-width: 768px) {
      .how-it-works__item::before {
        margin-bottom: 30px;
        width: 80px;
        height: 80px; } }

.example {
  background-color: #eaeaea;
  padding: 27px 0; }

.example__wrapper {
  width: 280px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .example__wrapper {
      width: 708px; } }
  @media (min-width: 1440px) {
    .example__wrapper {
      width: 1220px; } }
  @media (min-width: 1440px) {
    .example__wrapper {
      display: grid;
      grid-template-columns: 435px auto;
      gap: 30px; } }

@media (min-width: 768px) {
  .example__block {
    display: flex;
    justify-content: space-between; } }

@media (min-width: 1440px) {
  .example__block {
    display: block; } }

.example__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .example__title {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 60px; } }
  @media (min-width: 1440px) {
    .example__title {
      margin-bottom: 145px; } }

.example__description {
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .example__description {
      font-family: "Arial", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 55px; } }
  @media (min-width: 1440px) {
    .example__description {
      margin-bottom: 70px; } }

.example__list {
  margin-bottom: 20px; }

.example__price {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-bottom: 42px; }

.table {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px; }

.before-after__photo {
  margin: 0 auto 23px; }

.before-after__range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  margin: 0 auto; }

.before-after__button_before {
  order: -1; }

.before-after__button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  border: none;
  background: none;
  padding: 10px; }

.footer {
  background-color: #f2f2f2; }

.footer__block {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .footer__block {
      width: 708px; } }
  @media (min-width: 1440px) {
    .footer__block {
      width: 1220px; } }
  @media (min-width: 768px) {
    .footer__block {
      flex-direction: row;
      justify-content: space-between;
      padding: 55px 0;
      align-items: center; } }

.footer__item {
  margin: 10px auto; }
  @media (min-width: 768px) {
    .footer__item {
      margin: 0;
      display: flex;
      justify-content: center; } }

@media (min-width: 768px) {
  .footer__item:first-child {
    width: 200px;
    justify-content: flex-start;
    margin-left: 0; } }

.footer__item:last-child {
  width: 100%; }
  @media (min-width: 768px) {
    .footer__item:last-child {
      width: 200px;
      justify-content: flex-end;
      margin-right: 0; } }

.footer__logo {
  margin-top: 30px;
  margin-bottom: 22px; }

.footer__copyright {
  justify-self: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px; }

.footer__copyright::after {
  content: "";
  display: block;
  margin-left: auto;
  width: 27px;
  height: 34px;
  border: 2px solid #666666; }

.address {
  background-color: #ffffff; }
  .address_inner {
    background-color: #f2f2f2; }
    @media (min-width: 1440px) {
      .address_inner {
        background-color: #ffffff; } }

.address__wrapper {
  width: 280px;
  margin: 0 auto;
  position: relative; }
  @media (min-width: 768px) {
    .address__wrapper {
      width: 708px; } }
  @media (min-width: 1440px) {
    .address__wrapper {
      width: 1220px; } }

.address__content {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 28px 0; }
  .address__content_inner {
    background-color: #f2f2f2; }
    @media (min-width: 1440px) {
      .address__content_inner {
        background-color: #ffffff; } }
  @media (min-width: 768px) {
    .address__content {
      gap: 80px;
      padding: 65px 40px; } }
  @media (min-width: 1440px) {
    .address__content {
      position: absolute;
      top: 95px;
      left: 0;
      margin: auto;
      padding: 70px; } }

@media (min-width: 768px) {
  .address__block:nth-child(2) {
    justify-self: end; } }

@media (min-width: 1440px) {
  .address__block:nth-child(2) {
    justify-self: start; } }

.address__intro {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000; }
  @media (min-width: 768px) {
    .address__intro {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      line-height: 21px;
      text-transform: uppercase; } }

.address__item {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px; }
  @media (min-width: 768px) {
    .address__item {
      font-family: "Arial", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 20px;
      text-align: end; } }
  @media (min-width: 1440px) {
    .address__item {
      text-align: start; } }

@media (min-width: 768px) {
  .address__map {
    height: 400px; } }

.socials {
  display: grid;
  grid-template-columns: repeat(3, -webkit-max-content);
  grid-template-columns: repeat(3, max-content);
  gap: 16px; }

.socials__link {
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #666666;
  padding: 10px; }

.inner-header {
  width: 280px;
  margin: 0 auto;
  color: #000000;
  margin-top: 27px;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .inner-header {
      width: 708px; } }
  @media (min-width: 1440px) {
    .inner-header {
      width: 1220px; } }
  @media (min-width: 768px) {
    .inner-header {
      margin-bottom: 66px; } }

.inner-header__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px; }
  @media (min-width: 768px) {
    .inner-header__title {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 60px;
      line-height: 60px; } }

.inner-header__description {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 37px; }
  @media (min-width: 768px) {
    .inner-header__description {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      margin-top: 55px; } }

.form {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 32px; }
  @media (min-width: 768px) {
    .form {
      width: 708px; } }
  @media (min-width: 1440px) {
    .form {
      width: 1220px; } }

.form__block {
  margin-bottom: 25px; }
  @media (min-width: 1440px) {
    .form__block {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 80px; } }
  .form__block_last {
    margin-top: 20px; }
    @media (min-width: 768px) {
      .form__block_last {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 60px;
        margin-top: 40px; } }
    @media (min-width: 1440px) {
      .form__block_last {
        margin-top: 60px; } }

@media (min-width: 768px) {
  .form__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 60px;
         column-gap: 60px;
    row-gap: 20px; } }

@media (min-width: 1440px) {
  .form__list {
    grid-template-columns: repeat(4, 1fr); } }

.form__legend {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  text-transform: unset;
  display: block;
  margin-bottom: 35px; }
  @media (min-width: 768px) {
    .form__legend {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 36px;
      line-height: 36px;
      text-transform: uppercase;
      text-transform: unset; } }

.form__item {
  margin-bottom: 13px;
  display: flex;
  align-items: center; }

.form__label {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 13px; }

.form__input {
  flex-grow: 1; }

.form__button {
  display: inline-block;
  color: #ffffff;
  background-color: #68b738;
  padding: 13px 10px;
  cursor: pointer;
  width: 100%; }
  @media (min-width: 768px) {
    .form__button {
      width: 262px; } }
  @media (min-width: 1440px) {
    .form__button {
      width: 548px; } }

.form__info {
  color: #000000;
  text-align: center; }
  @media (min-width: 768px) {
    .form__info {
      text-align: unset; } }

.input {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding: 10px 15px;
  margin: 0;
  border: 1px solid #e7e7e7; }
  .input_textarea {
    width: 100%;
    height: 150px; }
    @media (min-width: 768px) {
      .input_textarea {
        height: 174px; } }

.input__control-mark {
  display: block;
  order: -1;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  margin-right: 15px;
  position: relative; }
  .input__control-mark::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none; }
  .input__control-mark_radio {
    border-radius: 50%; }
    .input__control-mark_radio::after {
      background-color: #68b738;
      border-radius: 50%; }
  .input__control-mark_checkbox::after {
    background-image: url("../img/icons/checkbox-mark.svg");
    background-repeat: no-repeat;
    background-position: center; }

.input:checked + .input__control-mark::after {
  display: block; }

.catalog {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .catalog {
      width: 708px; } }
  @media (min-width: 1440px) {
    .catalog {
      width: 1220px; } }

.catalog__list {
  display: grid;
  gap: 45px; }
  @media (min-width: 768px) {
    .catalog__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 60px; } }
  @media (min-width: 1440px) {
    .catalog__list {
      grid-template-columns: repeat(4, 1fr);
      gap: 80px; } }

.product-card {
  display: grid;
  grid-template-areas: "image info" "button button"; }
  @media (min-width: 768px) {
    .product-card {
      height: 511px;
      grid-template-areas: "image" "info" "button"; } }
  .product-card_show-more {
    grid-template-areas: "info" "button"; }

.product-card__image {
  grid-area: image;
  margin: 0 auto; }

.product-card__info {
  grid-area: info; }
  .product-card__info_show-more {
    margin: 0 auto; }

.product-card__title,
.product-card__size {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000; }
  .product-card__title_show-more,
  .product-card__size_show-more {
    text-align: center;
    margin-bottom: 8px; }

.product-card__size {
  margin-bottom: 14px; }

.product-card__description_show-more {
  text-align: center; }

.product-card__button {
  display: inline-block;
  color: #ffffff;
  background-color: #68b738;
  padding: 10px 20px;
  cursor: pointer;
  grid-area: button;
  margin-top: auto; }
  .product-card__button_show-more {
    background-color: #f2f2f2;
    color: #444444; }

.adds {
  width: 280px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .adds {
      width: 708px; } }
  @media (min-width: 1440px) {
    .adds {
      width: 1220px; } }

@media (min-width: 1440px) {
  .adds__block {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
    align-items: center; } }

.adds__title {
  margin-bottom: 44px; }

.adds__item {
  display: grid;
  grid-template-areas: "product product" "size price" "button button";
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .adds__item {
      grid-template-areas: "product size price" "button button button";
      grid-template-columns: 1fr 200px 95px; } }
  @media (min-width: 1440px) {
    .adds__item {
      grid-template-areas: "product size price button";
      grid-template-columns: 1fr 200px 155px 282px; } }

.adds__product {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  grid-area: product;
  margin-bottom: 13px; }

.adds__size {
  grid-area: size; }
  @media (min-width: 768px) {
    .adds__size {
      margin-left: auto; } }
  @media (min-width: 768px) {
    .adds__size {
      margin-left: 0; } }

.adds__price {
  grid-area: price;
  margin-left: auto; }

.adds__button {
  display: inline-block;
  color: #ffffff;
  background-color: #68b738;
  padding: 10px 20px;
  cursor: pointer;
  grid-area: button;
  width: 100%; }
  @media (min-width: 1440px) {
    .adds__button {
      width: 244px;
      margin-left: auto; } }

.bonus {
  width: 100%;
  height: 290px;
  background-image: url("../img/background/bonus.jpg");
  background-color: #68b738;
  color: #ffffff;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 768px) {
    .bonus {
      height: 200px; } }
  @media (min-width: 1440px) {
    .bonus {
      height: 290px; } }

.bonus__text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
